@font-face {
    font-family: 'Blackout 2 AM';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Blackout2AM.woff') format('woff');
}

@font-face {
    font-family: 'Mupen Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Mupen-JpmWa.woff') format('woff');
}

body {
    font-family: 'Mupen Regular', sans-serif;
    background-color: #FFFEEE; /* Body background color */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;}